body{
    /* background-color: white; */
    animation-name: colorchange;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}
div.menu{
    color: darkorange;
    margin-top: 100px;
    padding:10px 10px;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}
div.branch{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    margin:20px 10px;
    border: 0.5px solid black;
    height :130px;
    overflow: auto;
    border-radius: 20px;
    box-shadow: -3px 3px darkorange;
    background-color: black;


}

div.top{
    color: darkorange;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
div.submenu{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 5px;
    font-weight: bolder;
}
#description{
    margin-top: -20px;
}
div.line{
    border: 1px solid black;
    height: 0.5px;
    background-color: black;
    width: 100%;

    margin-top: -15px;
}
a{

    color: green;
    font-size: small;

}
h3{
    margin-top: -5px;
}
@keyframes colorchange{
    0%{background-color: darkred;}
    20%{background-color: grey;}
    70%{background-color: darkgreen;}
    100%{background-color: darkslateblue;}
}
